/* /* .roohafza{
    background-color: red;
    color: white;
    opacity: 0.9;
}

.para1{
    border-style: dotted;
}

.para2{
    border-style: dashed;
}

/* .buttongroup{
    margin: 10px;
} */


/* .login{
    margin: 20px;
    padding: 5px;
}  */





body{
    background-color:  #433878 ;
    color: #FFE1FF
    ;
} */